---
import Layout from "../layouts/main.astro";
import SidebarNav from "../components/SidebarNav";
import AppsView from "../components/AppsView";
---

<Layout>
  <div class="flex h-screen">
    <SidebarNav client:load />
    <div class="flex-1 overflow-hidden">
      <AppsView client:load />
    </div>
  </div>
</Layout>
