---
import Layout from "../layouts/Layout.astro";
import SidebarNav from "../react/SidebarNav";
import SettingsView from "../react/SettingsView";
---

<Layout>
  <div class="flex h-screen">
    <SidebarNav client:load />
    <div class="flex-1 overflow-auto">
      <SettingsView client:load />
    </div>
  </div>
</Layout>
