---
import Layout from "../layouts/main.astro";
import SidebarNav from "../components/SidebarNav";
import TweeksView from "../components/TweeksView";
---

<Layout>
  <div class="flex h-screen">
    <SidebarNav client:load />
    <div class="flex-1 overflow-auto">
      <TweeksView client:load />
    </div>
  </div>
</Layout>
